/*Footer styles*/

@include tablet {
  .tablet {
    display: block;
    float: right;
    padding: 10px 10px;
  }

  li h1:hover{
    color: red;
  }

  .borders {
    border-left: solid #93a0a2 .5px;
    border-right: solid #93a0a2 .5px;
  }

}
