/*Contact styles*/

.contact {
  padding-top: 20px;
  padding-bottom: 25px;
  @include tablet {
    padding-top: 20px;
  }
  p {
    max-width: 60%;
    @include tablet {
      max-width: 60%;
    }
  }
  h1 {
    padding: 10px 0;
  }
}
